h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
a {
  color: var(--primary-purple-900);
  
}
a:hover {
  color: var(--primary-depe-purple-400);
}
.title {
  text-transform: uppercase;
}
.subtitle {
  color:var(--fonts-700);
  font-weight: 400;
  
}
.block {
  margin-bottom: 100px;
}